@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Lexend;
}

.img-profile {
  animation: profile__animate 6s ease-in-out infinite 1s;
}
@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 20% 70%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}

.nav-link::after {
  transform: scale(0, 1);
}
.nav-link:hover::after {
  transform: scale(1, 1);
}
.outer {
  border-left: 3px solid white;
}
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: #a7a9be;
  border-radius: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}
.title {
  color: #ffc74d;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -37px;
  border: 5px solid #ffc74d;
}

.burger-menu {
  backdrop-filter: blur(15px);
}
